.container{
    
     max-height: 70vh; 
     overflow-y: scroll;
}
.container::-webkit-scrollbar{
     width: 5px;
     border-radius: 20px;
}
.container::-webkit-scrollbar-thumb{
     background-color: gray; 
}

.glyphicon-pencil{
    display: none;
    color: blue;
    cursor: pointer;
    margin: 0px 10px;

}
.glyphicon-trash{
         display: none; 
         color: red;
         cursor: pointer;
         margin: 0px 10px;
}
.hiddenShow{
    display:inline-block;
   }

li{
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 10px -3px grey;
    margin: 7px 0px;
}
input{
     border: none;
     outline: none;
     box-shadow: none;
}

.form-control:focus{
    border: none;
    outline: none;
    box-shadow: none;

}