
li{
    display: flex;
    flex-direction: row; 
    box-shadow: 1px 1px 10px -3px grey;

}
input{
    border: none;
    box-shadow: none;
}
input:focus{
    border: none;
    box-shadow: none;
}
.btn{
     width: 100px;
}
